.bg-lightgrey{
    background-color: lightslategrey;
}

.right-aligned{
    justify-content: flex-end;
}

.center{
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: auto;
}